.hero{
    width: 100%;
    height: fit-content;
    background-color: #ffafef;
}
.hero h1{
    color:white;
    font-variation-settings: calc();
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;

}
.hero p{
    color: darkslateblue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;

}
.container{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    box-shadow: #ffafef;

}
.box{
    margin-left: 15px;

}

