{% extends 'restaurant.html' %}
{% block 'index' %}
{% load static %}

    <style>
        body{
            background-color: aqua;
        }
        .main{
            width:360px;
            height: 300px;
            border:1px solid rgb(104, 91, 91);
            margin-left: 35%;
            margin-top: 7%;
            border-radius: 4px 4px ;
            background-color: aliceblue;
            box-shadow: 2px 2px rgb(155, 190, 221);
        }
        .heading{
            text-align: center;
            margin-top: -4%;
        }
        #input1{
            width:300px;
            height: 38px;
            margin-left: 25px;
            background-color:white;
            border:1px solid black;
            border-radius: 3px 3px ;
        }
        
        #input2{
            width:300px;
            height: 38px;
            margin-left: 25px;
            background-color: white;
            border:1px solid black;
            border-radius: 3px 3px ;
        }
        .l{
            width: 300px;
            height: 38px;
            border:1px solid black;
            border-radius: 3px 3px;
            margin-left:25px;
            border-radius: 3px;
            background-color: rgb(51, 101, 196);
            color:white;
            font-size: 17px;
            border-radius: 3px 3px ;

        }
        .footer{
    background: #111;
    color: #fff;
    padding: 40px 20px 10px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}

.footer-box h3{
    margin-bottom: 10px;
    color: orange;
}

.footer-box p, .footer-box a{
    font-size: 14px;
    color: #ccc;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

.footer-box a:hover{
    color: orange;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
}
.social-icons{
    gap: 2%;
}
.social-icons a{
    margin-left: 20%;
    margin-top: 3%;
    
    
}
.fa-facebook {
    font-size: 45px;
}

.fa-instagram ,.fa-whatsapp{
    font-size: 50px;
}

.fa-linkedin {
    font-size: 45px;
}
.fa-facebook:hover,.fa-instagram:hover ,.fa-whatsapp:hover,.fa-linkedin:hover{
    background-color: white;
    border-radius: 4px 4px;
}
     </style>
    
       <form method="POST" action="{% url 'login2_check' %}" class="main"><br><br><br>
        {% csrf_token %}
        <h2 class="heading">Login Page</h2>
        <input  id="input1" type="text"  name="mobile" placeholder="   Enter mobile number    " >
        
        <br><br>
        
        <input id="input2" type="text" name="password" placeholder="    Enter your password    " ><br><br>
        
        <input  class="l" type="submit" value="Login">

       </form>
      
       <footer class="footer">
    <div class="footer-container">

        <div class="footer-box">
            <h3>RJ Restaurant</h3>
            <p>Delicious food with great experience. Visit us and enjoy your meal.</p>
        </div>

        <div class="footer-box">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">Gallery</a>
            <a href="#">Contact</a>
        </div>

        <div class="footer-box">
            <h3>Contact Info</h3>
            <p>📍 Belthra Road ,Ballia, Uttar Pradesh</p>
            <p>📞 +91 8858364940</p>
            <p>📧 rajvanshirjrajbhar@email.com</p>
            <p></p>
        </div>

        <div class="footer-box">
            <h3>Opening Hours</h3>
            <p>Mon - Sun: 10 AM - 11 PM</p>
        </div>

    </div><br>

    <div>
        <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank" class="facebook">
        <i class="fab fa-facebook"></i>
    </a>

    <a href="https://www.instagram.com" target="_blank" class="instagram">
        <i class="fab fa-instagram"></i>
    </a>

    <a href="https://www.linkedin.com" target="_blank" class="in">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://wa.me/919999999999" target="_blank">
    <i class="fab fa-whatsapp"></i>
    </a>
</div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 RJ Restaurant | All Rights Reserved</p>
    </div>
</footer>
{% endblock %}